*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/res/xml/file_path.xml
/secret.properties
/.idea/
/.idea/codeStyles/
/.idea/codeStyles
/.idea/misc.xml

